<div class="container">
  <div class="row vh-100 align-items-center">
    <div class="col-12 d-flex flex-column text-center">
      <div class="display-1 text-uppercase text-primary">
        CONCURSO DE PREGUNTAS
        Y RESPUESTAS
      </div>

      <p class="lead mb-4">
        ¿Quieres ser millonario?
        
      </p>

      <div class="col-sm-12 col-md-6 offset-md-3">
        <button routerLink="/jugar"
                class="btn btn-secondary btn-lg btn-block"
                *ngIf="basicTotal > 0">
          <fa-icon [icon]="faPlay"
                    [fixedWidth]="true"></fa-icon> Empezar a jugar
        </button>

        <small class="d-block mt-3">
          Pon a prueba tus conocimientos
        </small>
      </div>

    </div>
  </div>
</div>
